/* Basic styling for the application */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ebdada;
  color: #333;
  text-align: center;
  font-size: 16px;
  height: 100%;
}

main {
  flex: 1;
}

footer{
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

nav{
  background-color: #4952c8;
  color: #e5cccc;
  padding: 0px;
  text-align: center;
  font-size: 16px;
}

h1{
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

header{
  background-color: #8f95eb;
  color: #e5cccc;
  padding: 0px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 100px;
}